.Rproj.user
.Rhistory
.RData
.Ruserdata

99-*
*.Rproj
*Kim
00-course-info/Kim (& Robinson) STATS-ASE 101 Fall 23_encrypted_.pdf
00-course-info/Cal Poly Colloquium - Unfried.pdf
00-course-info/canvas-image.png
00-course-info/class-planning.xlsx
00-course-info/Teaching for well-being slide.pptx
04-Rlabs/stat218-calpoly-labs - Shortcut.lnk
03-quizzes/nul
02-homeworks/nul
01-course-notes/nul
01-course-notes/_ul
